<div class="container">
  <h1 class="text text-center">Student Admission Form</h1>
  <div [hidden]="displayNotification">
    <h3>This site uses cookies for better user experience</h3>
    <button class="d-inline" (click)="closNotification()">X</button>
  </div>
</div>
<div class="main-body ">
  <form>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
        </div>
        <div class="form-group">
          <label for="address">Address:</label>
          <input type="text" class="form-control" id="address" placeholder="Address" formControlName="address">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
        </div>
        <div class="form-group">
          <label for="mobile">Mobile:</label>
          <input type="text" class="form-control" id="mobile" placeholder="Mobile" formControlName="mobile">
        </div>
        <div>
          <button class="d-inline p-2 btn btn-primary float-right">Submit</button>
          <button class=" ml-3 d-inline p-2 btn btn-danger float-right">Reset</button>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label for="presentAddress">Present Address:</label>
          <input type="text" class="form-control" id="presentAddress" formControlName="presentAddress" placeholder="Present Address">
        </div>
        <div class="form-group">
          <label for="parmanentAddress">Permanant Address:</label>
          <input type="text" class="form-control" id="parmanentAddress" formControlName="parmanentAddress" placeholder="Permanant Address">
        </div>
        <div class="form-group">
          <label for="parentsMobile">Parents Mobile:</label>
          <input type="text" class="form-control" id="parentsMobile" formControlName="parentsMobile" placeholder="Parents Mobile">
        </div>
        <div class="form-group">
          <label for="parentsEmail">Parents Email:</label>
          <input type="email" class="form-control" id="parentsEmail" formControlName="parentsEmail" placeholder="Parents Email">
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </form>
</div>